#divMaskFrame {
	background-color: rgba(0,0,0,.8);
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	position: fixed;
	width: 100%;
	overflow: hidden;
	z-index: 3000;

}
#divProgress {
	width:200px;/**宽度**/
	height:100px;
 		text-align: center;
		color: #1B3563;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -110px;
	z-index: 30001;
}
.load-text {
  text-align: center;
  color: #fff;
}